[Ll]ibrary/FailedAssetImports.txt
[Ll]ibrary/cache/
[Ll]ibrary/previews/
[Ll]ibrary/ScriptAssemblies
[Oo]bj/
[Tt]emp/
[Bb]uilds/

*.csproj
*.vcproject
*.unityproj
*.sln
*.exe
*.app
*.pidb
.DS_Store
Thumbs.db
Desktop.ini


